/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
